# OS
.DS_Store
Thumbs.db

# Editor
.idea
.vscode/*
project.xml
project.properties
.project
.settings*
*.sublime-project
*.sublime-workspace
.sublimelinterrc

# Cache
.sass-cache/

# Logs
logs/
yarn-error.log
npm-debug.log
.pnpm-debug.log

# Build
*.sql
*.swp
*.zip
build/
build-module/
build-style/
build-types/
dist/
tsconfig.tsbuildinfo

# Dependencies
node_modules/
vendor/
bin/composer/**/vendor/
lib/vendor/

# Environment
wp-cli.local.yml
.wp-env.override.json

# Tests
tmp/

# Local
contributors.md
contributors.html
